<ion-view view-title="Detail Comic">
  <ion-content>
    <div class="list card" ng-repeat="detail in comic_detail">

      <div class="item item-avatar">
        <img ng-src="{{detail.thumbnail.path}}.{{detail.thumbnail.extension}}">
        <h2>{{ detail.title }}</h2>
        <p>Type: {{ detail.format }} - {{ detail.pageCount }} Pages</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-repeat="img in detail.images" ng-src="{{img.path}}/portrait_uncanny.jpg">
        <p>{{ detail.description }}</p>
        <p>
          <a href="#" class="subdued" ng-repeat="fecha in detail.dates" ng-if="fecha.type ==='onsaleDate'">Date of sale: {{ fecha.date | date:"dd/MM/yyyy" }}</a>
          <a href="#" class="subdued" ng-repeat="precio in detail.prices" >Price:  {{ precio.price | currency }}</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
